body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(237, 199, 7);
    color: black;
    padding: 10px;
    text-align: center;
}


main {
    padding: 20px;
    color: white;
    b, i, u {
       color: rgb(237, 199, 7);
        
    
    }
    div{
        text-align: center;
    }
   h4{
    color: red;
   }
section {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}
